.buttonPanel{
    width:80px;
    height:80px;
    font-size:30px;
}

.center{
    text-align: center;
}

.orange{
    background-color:orange;
}

.lightGray{
    background-color:#d3d3d3;
}

.darkGray{
    background-color:#808080;
}

